body.login-page {
	.navbar-login {
		background-color: $color-nav-header;
 	   	z-index: 10;
 	   	//height: 180px;
 	   	//height: 20%;
 	   	position: fixed;
 		.logo {
		    position: fixed;
		    top: 0;
		    left: 300px;
 	   	}
 	   	.nav-wrapper {
 	   		height: 0;
 	   	}
 	   	.title-page{
 	   	    text-align: center;
		    position: relative;
		    bottom: 15px;
		}
 	}
	background-color: $color-white;
	.container {

		top: 10%;
	    position: relative;
		.login-content {
			#login {
			    top: 110px;
			    position: relative;
			    margin-bottom: 60px;
			}
			#signup {
			    margin-bottom: 60px;
			}
			.form-login {
			    top: 125px;
			    position: relative;
			}
			.facebook-login {
				background-color: $color-facebook;
			}
			.google-login {
				color : $color-google;
				background-color: $color-btn-google;
			}
			.local-login {
				background-color: $color-btn-local;
			}
			.local-signup {
				background-color: $color-btn-signup;
			}
			.custom-button {
			    margin: 15px 0;
			}
			.btn-login {
			    height: 45px;
	    		width: 75%;
	    		//max-width: 50%;
	    		//margin: 15px 0px;
			}
			.login-types {
				position: relative;
	    		top: 220px;
	    		margin-bottom: 30px;
			}
		}

	}
	.error-message {
		top: 100px;
	}
}

body.login-page.sticky-header {
	header.header {
		height: 60px;
		background-color: $color-nav-header;
		opacity: 0.9;
		z-index: 10;
	}

}