doctype html
html
  head
    title Post
    meta(charset='utf-8')
  body
    if (isNewPost)
      h2 new Post
    if (isReply)
      h2 new Reply
    if (isEdit)
      h2 edit

    - var vAction = '/posts'

    if (isEdit)
      - vAction += '/edit'

    if (idPost)
      - vAction += '/' + idPost

    if (idReply == "0") 
      - vAction += '/0'
    else if (idReply == undefined)
    else
      - vAction += '/' + idReply

    if (idReplyOfReply == "0")
      - vAction += '/0'
    else if (idReplyOfReply == undefined)
    else
      - vAction += '/' + idReplyOfReply

    if (postLevel)
      - vAction += '/' + postLevel

    h1 #{vAction}
    form(action=vAction, method='post', enctype='multipart/form-data')
      if (showTitle)
        div
          label Title
          input(type='text', name='Title', placeholder='title')
      div
        if (isReply)
          label Reply
        else
          label Description
        input(type='text', name='Description')
      div
        label Upload file
        input(type='file', name='File')
      div
        input.btn(type='submit', name='submit', value='upload')
        
    br
