div(id='recieve' + key, class='modal modal-delete')
	.modal-content
		h4 Recieve Item
		p This action means you just recieved this item.
		p Everyone will be able to see that you recieved it in order to stop them from buying it again.
		p The people who were interested in this post will be notified.
		p Are you sure you want to continue?
	.modal-footer
		a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/posts/recieve/' + post._id.post._id) Recieve
		a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') No