#modal-edit-acount.modal.modal-edit-acount
	form(action='/settings/update', method='POST', enctype='multipart/form-data')
		.modal-content
			h4 Edit Acount
			.row
				.input-field.col.s6
					input#name(type='text', name='name', value=userSession.name)
					label(for='name') Name
				.input-field.col.s6
					input#lastname(type='text', name='lastname', value=userSession.lastname)
					label(for='lastname') Lastname
			.row
				.input-field.col.s12
					input#username.validate(type='text', name='username', value=userSession.username)
					label(for='username') Username
			.row
				.input-field.col.s12
					if userSession.birth_date
						input#birth.validate.datepicker(placeholder='Birth Date', type='date', name='birth', value=userSession.birth_date.toDateString())
					else
						input#birth.validate.datepicker(placeholder='Birth Date', type='date', name='birth')
					label.active(for='birth') Birth date
			.row
				p Contact email: #{userSession.email}
			if userSession.local.email
				.card-panel.row
					h5 Change password 
					.input-field.col.s7
						p#email-sign-up #{userSession.local.email}
					.input-field.col.s7
						input#currentPassword.validate(type='password', name='currentPassword')
						label(for='currentPassword') Current password
					.input-field.col.s7
						input#password1.validate(type='password', name='password1')
						label(for='password1') Password
					.input-field.col.s7
						input#password2.validate(type='password', name='password2')
						label(for='password2') Repeat password
		.modal-footer
			input.btn(type='submit', name='submit', value='Save')
			a.modal-action.modal-close.waves-effect.waves-green.btn(href='#') Cancel
