#modal-picture.modal.modal-picture
	form(action='/profile/newProfilePic', method='POST', enctype='multipart/form-data')
		.modal-content
			h4 Profile Picture
			a.photo-edit(alt='edit', title='edit photo')
				img#output1(width='150', src=user.profile.images[user.profile.images.length - 1].value)
			//-	a.btn.halfway-fab.waves-effect.waves-light.red.btn-edit(alt='edit', title='edit')
				i.material-icons mode_edit
			.form-picture(hidden=true)
				//--input(type='file', name='File')
				//input#file-post1(type="file", name="File" accept="image/jpeg, image/png", onchange='loadFile(event)')
				.file-field.input-field
					.btn
						span New photo
						input#file-post(type="file", name="File", accept="image/jpeg, image/png", onchange='loadFile(event)')
				script.
					var loadFile = function(event) {
					var reader = new FileReader();
					reader.onload = function(){
					var output = document.getElementById('output1');
					output.src = reader.result;
					};
					reader.readAsDataURL(event.target.files[0]);
					};
		.modal-footer
			input.btn(type='submit', name='submit', value='Save')
			a.modal-action.modal-close.waves-effect.waves-green.btn(href='#') Cancel