#modal-recover-email.modal.modal-recover-email
	form(action='/recover', method='post')
		.modal-content
			h4 Recover Password
			.row
				.input-field.col.s12
					input#email-sign-up.validate(type='email', name='email')
					label(for='email') Email
		.modal-footer
			input#send_email.btn.local-signup(type='submit', name='send', value='Send email')
			a.modal-action.modal-close.waves-effect.waves-green.btn(href='#') Cancel