#modal-create-local-account.modal.modal-create-local-account
	form(action='/connect/local', method='post', enctype='multipart/form-data')
		.modal-content
			h4 Create local Account
			.row
				.input-field.col.s12
					input#email-sign-up.validate(type='email', name='email')
					label(for='email') Email
			.row
				.input-field.col.s12
					input#localPassword1.validate(type='password', name='password')
					label(for='password1') Password
			.row
				.input-field.col.s12
					input#localPassword2.validate(type='password', name='password2')
					label(for='password2') Repeat password
		.modal-footer
			input#send_email.btn.local-signup(type='submit', name='signup', value='Save')
			a.modal-action.modal-close.waves-effect.waves-green.btn(href='#') Cancel
