div(id='buy' + key, class='modal modal-buy')
	.modal-content
		h4 Buy Item
		p This action means you just bought this item for #{user.name}.
		p The people who were interested in this post will be notified and you will remain anonymous.
		p Are you sure you want to continue?
	.modal-footer
		a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/posts/buy/' + post._id.post._id) Buy
		a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') No