//- Lista de posts
each post, key in posts
	//- miramos si el post ha sido comprado o recibido para poder marcarlo con un tipo de clase a la div del regalo
	-var bought
	if (post._id.post.isBought && (new String(userSession._id).valueOf() != new String(user._id).valueOf())) 
		- bought = ' bought';
	else
		- bought = ' post-wish';
	if (post._id.post.recieved) 
		- bought = ' recieved';

	div(class=' card-panel z-depth-4 hoverable'+ bought )
		.card-content
			.post-content
				p(hidden="true") #{key}
				p.username #{post._id.post.username} #{post._id.post.post_date.toDateString()}
				h3 #{post._id.post.title}
				p #{post._id.post.content}
			.post-content-edit(hidden=true)
				form.form-edit(action='/posts/edit/' + post._id.post._id + '/0/0/' + user._id, method='POST', enctype='multipart/form-data')
					.row
						.input-field.col.s12
							label.active(for="title-post") Title: 
							input#title-post(type='text', name='Title', placeholder='title', value=post._id.post.title)
					.row
						.input-field.col.s12
							label.active(for="content-post") Text: 
							textarea#content-post.materialize-textarea(type='text', name='Description') #{post._id.post.content}
					img#output.responsive-img(width="500")
					input#file-post(type="file", name="File", multiple, accept="image/jpeg, image/png")
					input.btn.button-submit(type='submit', name='submit', value='edit')
			.card-image
				each img, key2 in post._id.post.images 
					img.materialboxed.responsive-img(src=post._id.post.images[key2].path, data-caption="", width="500")
					//- @FIXME titulo de imagen puede escojer el usuario si poner o no!
					span.card-title
			//- si no eres amigo, no puedes ver ningun botón
			if (userSession.id_friends.indexOf(user._id) > -1 && user.id_friends.indexOf(userSession._id) > -1) || new String(userSession._id).valueOf() == new String(post._id.post.id_user).valueOf()
				.buttons-post
					//- Boton de like lo ve todo el mundo
					if userSession.id_posts_like.indexOf(new String(post._id.post._id).valueOf()) == -1
						a.btn.btn-custom.halfway-fab.waves-effect.waves-light(alt='like', title='like', href="/posts/like/" + post._id.post._id + "/0/0/" + user._id)
							i.material-icons thumb_up
					else
						a.btn.btn-custom.halfway-fab.waves-effect.waves-light(alt='unlike', title='unlike', href="/posts/unlike/" + post._id.post._id + "/0/0/" + user._id)
							i.material-icons thumb_down
					//- boton reply
					a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-post(alt='reply', title='reply')
						i.material-icons textsms
					//- Boton editar, solo en mi propio perfil							
					if new String(userSession._id).valueOf() == new String(post._id.post.id_user).valueOf()
						a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-edit-post(alt='edit', title='edit')
							i.material-icons mode_edit
					//- Boton delete, solo en mi propio perfil
					if new String(userSession._id).valueOf() == new String(post._id.post.id_user).valueOf()
						a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-delete(href='#delete' + key, alt='delete', title='delete')
							i.material-icons delete
					//- Boton recibido, solo se ve si es tu post. y no le has dado aun.
					if (new String(userSession._id).valueOf() == new String(user._id).valueOf()) && !post._id.post.recieved
						a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-recieve.right(alt='recieve', title='recieve', href="#recieve" + key)
							i.material-icons loyalty
						include ../commons/modals/modal-recieve.pug
					//- Si es tu propio perfil no ves este boton de interesado
					if (new String(userSession._id).valueOf() != new String(user._id).valueOf()) && (userSession.id_interests.indexOf(new String(post._id.post._id).valueOf()) == -1) && !post._id.post.isBought && !post._id.post.recieved
						a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-interest.right(alt='interest', title='interest', href="/posts/interest/" + post._id.post._id)
							i.material-icons tag_faces
					else if userSession.id_interests.indexOf(new String(post._id.post._id).valueOf()) > -1 && !post._id.post.isBought
						a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-uninterest.right(alt='uninterest', title='uninterest', href="/posts/uninterest/" + post._id.post._id)
							i.material-icons not_interested
					//- Solo ves este boton si le has dado al anterior
					if userSession.id_interests.indexOf(new String(post._id.post._id).valueOf()) > -1 && !post._id.post.isBought && !post._id.post.recieved
						a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-buy.right(alt='comprado', title='comprado', href="#buy" + key)
							i.material-icons shopping_cart
						include ../commons/modals/modal-buy.pug
				//- Solo ves los nombres de los interesados si tu también le has dado a interesado
				if userSession.id_interests.indexOf(new String(post._id.post._id).valueOf()) > -1 && !post._id.post.isBought && !post._id.post.recieved
					.users-intested.right
						- var listLikes = "";
						- var hasMore = false;
						- var likesNames = "";
						each userinterested, k in post._id.post.users_interested
							if k < 3
								if k !== 0 
									- likesNames += ", ";
								- likesNames += userinterested.username;
							- listLikes += userinterested.username+"\n";
							if k >= 3 && !hasMore
								- hasMore = true;
						if hasMore
							- likesNames += " and more"
						a(href="#modal-users-interested" + key, title=listLikes) #{likesNames} 
					include ../commons/modals/modal-users-interests.pug
				//- gente que le ha dado a like
				.users-like
					- var listLikes = "";
					- var hasMore = false;
					- var likesNames = "";
					each userlikes, k in post._id.post.users_like
						if k < 3
							if k !== 0 
								- likesNames += ", ";
							- likesNames += userlikes.username;
						- listLikes += userlikes.username+"\n";
						if k >= 3 && !hasMore
							- hasMore = true;
					if hasMore
						- likesNames += " and more"
					a(href="#modal-users-like" + key, title=listLikes) #{likesNames} 
					include ../commons/modals/modal-users-like.pug
			form.form-post(action='/posts/' + post._id.post._id + '/' + post._id.post.level_post + '/' + user._id, method='post', enctype='multipart/form-data', hidden='true')
				textarea#content-post.materialize-textarea(type='text', name='Description' placeholder="Comment")
				img#output.responsive-img(width="500")
				input#file-post(type='file', class='file-path validate', name='File', accept="image/jpeg, image/png")
				input.btn.button-submit.col.s3(type='submit', name='submit', value='submit')
			include ../commons/modals/modal-delete.pug
			each reply, key3 in post._id.post.replies
				.card-content.card-action.hoverable.z-depth-1.reply-content
					.post-content
						p(hidden="true") #{key3}
						p.username #{reply.username} #{reply.post_date.toDateString()} #{reply.edit_date.toDateString()}
						p #{reply.content}
					.post-content-edit(hidden=true)
						form(action='/posts/edit/' + post._id.post._id + '/' + reply._id + '/0/' + user._id, method='POST', enctype='multipart/form-data')
							textarea#content-post.materialize-textarea(type='text', name='Description') #{reply.content}
							img#output.responsive-img(width="500")
							input#file-post(type='file', name='File', accept="image/jpeg, image/png")
							input.btn.button-submit(type='submit', name='submit', value='edit')
					each img2, key4 in reply.images
						.card-image
							img.responsive-img(src=img2.path)
					//- botones solo se ven si somos amigos o estoy en mi perfil, boton de borrar se ve si es mi post
					if (userSession.id_friends.indexOf(user._id) > -1 && user.id_friends.indexOf(userSession._id) > -1) || new String(userSession._id).valueOf() == new String(user._id).valueOf()
						//- Boton de like lo ve todo el mundo
						if userSession.id_posts_like.indexOf(new String(reply._id).valueOf()) == -1
							a.btn.btn-custom.halfway-fab.waves-effect.waves-light(alt='like', title='like', href="/posts/like/" + post._id.post._id + "/" + reply._id + "/0/" + user._id)
								i.material-icons thumb_up
						else
							a.btn.btn-custom.halfway-fab.waves-effect.waves-light(alt='unlike', title='unlike', href="/posts/unlike/" + post._id.post._id + "/" + reply._id + "/0/" + user._id)
								i.material-icons thumb_down
						a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-reply(alt='reply', title='reply')
							i.material-icons textsms											
						if new String(userSession._id).valueOf() == new String(reply.id_user).valueOf()
							a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-edit(alt='edit', title='edit')
								i.material-icons mode_edit
					if new String(userSession._id).valueOf() == new String(reply.id_user).valueOf() || new String(userSession._id).valueOf() == new String(user._id).valueOf()
						a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-delete(href='#delete-reply' + key3, alt='delete', title='delete')
							i.material-icons delete
						include ../commons/modals/modal-delete-reply.pug
					//- botones solo se ven si somos amigos, boton de borrar se ve si es mi post
					if (userSession.id_friends.indexOf(user._id) > -1 && user.id_friends.indexOf(userSession._id) > -1) || new String(userSession._id).valueOf() == new String(user._id).valueOf()
						//- gente que le ha dado a like
						.users-like
							- var listLikes = "";
							- var hasMore = false;
							- var likesNames = "";
							each userlikes, k in reply.users_like
								if k < 3
									if k !== 0 
										- likesNames += ", ";
									- likesNames += userlikes.username;
								- listLikes += userlikes.username+"\n";
								if k >= 3 && !hasMore
									- hasMore = true;
							if hasMore
								- likesNames += " and more"
							a(href="#modal-users-like-reply" + key3, title=listLikes) #{likesNames} 
							include ../commons/modals/modal-users-like-reply.pug
						form.form-reply(action='/posts/' + post._id.post._id + '/' + reply._id + '/' + reply.level_post + '/' + user._id, method='post', enctype='multipart/form-data', hidden='true')
							textarea#content-post.materialize-textarea(type='text', name='Description' placeholder="Comment")
							img#output.responsive-img(width="500")
							input#file-post(type='file', class='file-path validate', name='File', accept="image/jpeg, image/png")
							input.btn.button-submit.col.s3(type='submit', name='submit', value='submit')
					each replyOfReply, key5 in reply.replies
						.card-content.card-action.hoverable.z-depth-1.reply-of-reply-content
							.post-content
								p(hidden="true") #{key5}
								p.username #{replyOfReply.username} #{replyOfReply.post_date.toDateString()} #{replyOfReply.edit_date.toDateString()}
								p #{replyOfReply.content}
							.post-content-edit(hidden=true)
								form(action='/posts/edit/' + post._id.post._id + '/' + reply._id + '/' + replyOfReply._id + '/' + user._id, method='POST', enctype='multipart/form-data')
									textarea#content-post.materialize-textarea(type='text', name='Description') #{replyOfReply.content}
									img#output.responsive-img(width="500")
									input#file-post(type='file', name='File', accept="image/jpeg, image/png")
									input.btn.button-submit(type='submit', name='submit', value='edit')
							each img3, key6 in replyOfReply.images
								.card-image
									img.responsive-img(src=img3.path)
							//- botones solo se ven si somos amigos, boton de borrar se ve si es mi post
							if (userSession.id_friends.indexOf(user._id) > -1 && user.id_friends.indexOf(userSession._id) > -1) || new String(userSession._id).valueOf() == new String(user._id).valueOf()
								//- Boton de like lo ve todo el mundo
								if userSession.id_posts_like.indexOf(new String(replyOfReply._id).valueOf()) == -1
									a.btn.btn-custom.halfway-fab.waves-effect.waves-light(alt='like', title='like', href="/posts/like/" + post._id.post._id + "/" + reply._id + "/" + replyOfReply._id + '/' + user._id)
										i.material-icons thumb_up
								else
									a.btn.btn-custom.halfway-fab.waves-effect.waves-light(alt='unlike', title='unlike', href="/posts/unlike/" + post._id.post._id + "/" + reply._id + "/" + replyOfReply._id + '/' + user._id)
										i.material-icons thumb_down
								//- gente que le ha dado a like
								if new String(userSession._id).valueOf() == new String(replyOfReply.id_user).valueOf()
									a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-edit(alt='edit', title='edit')
										i.material-icons mode_edit
							if new String(userSession._id).valueOf() == new String(replyOfReply.id_user).valueOf() || new String(userSession._id).valueOf() == new String(user._id).valueOf()
								a.btn.btn-custom.halfway-fab.waves-effect.waves-light.btn-delete(href='#delete-replyofreply' + key5, alt='delete', title='delete')
									i.material-icons delete
								include ../commons/modals/modal-delete-replyOfReply.pug
							//- botones solo se ven si somos amigos, boton de borrar se ve si es mi post
							if (userSession.id_friends.indexOf(user._id) > -1 && user.id_friends.indexOf(userSession._id) > -1)	 || new String(userSession._id).valueOf() == new String(user._id).valueOf()
								//- gente que le ha dado a like
								.users-like
									- var listLikes = "";
									- var hasMore = false;
									- var likesNames = "";
									each userlikes, k in replyOfReply.users_like
										if k < 3
											if k !== 0 
												- likesNames += ", ";
											- likesNames += userlikes.username;
										- listLikes += userlikes.username+"\n";
										if k >= 3 && !hasMore
											- hasMore = true;
									if hasMore
										- likesNames += " and more"
									a(href="#modal-users-like-replyOfReply" + key5, title=listLikes) #{likesNames} 
									include ../commons/modals/modal-users-like-replyOfReply.pug
