/*
Error: Undefined variable: "$color-white".
        on line 2 of /home/users/inf/wiaw2/iaw48089741/folder/FinalProject/IWish/src/resources/sass/components/login.scss

1: body.login-page {
2: 	background-color: $color-white;
3: 	img {
4: 		&#facebook-login {
5: 			background: url('../images/logins1.png') no-repeat -56px -55px;
6: 			width: 575px;
7: 			height: 102px;

Backtrace:
/home/users/inf/wiaw2/iaw48089741/folder/FinalProject/IWish/src/resources/sass/components/login.scss:2
/usr/share/gems/gems/sass-3.4.22/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/share/gems/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/share/gems/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/gems/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/usr/share/gems/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `map'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/share/gems/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/gems/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/usr/share/gems/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/share/gems/gems/sass-3.4.22/lib/sass/tree/root_node.rb:20:in `render'
/usr/share/gems/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
/usr/share/gems/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/usr/share/gems/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/usr/share/gems/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/usr/share/gems/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/usr/share/gems/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/share/gems/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/usr/share/gems/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/share/gems/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/usr/share/gems/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/usr/local/share/gems/gems/listen-3.1.5/lib/listen/event/config.rb:23:in `call'
/usr/local/share/gems/gems/listen-3.1.5/lib/listen/event/processor.rb:115:in `_process_changes'
/usr/local/share/gems/gems/listen-3.1.5/lib/listen/event/processor.rb:19:in `block in loop_for'
/usr/local/share/gems/gems/listen-3.1.5/lib/listen/event/processor.rb:15:in `loop'
/usr/local/share/gems/gems/listen-3.1.5/lib/listen/event/processor.rb:15:in `loop_for'
/usr/local/share/gems/gems/listen-3.1.5/lib/listen/event/loop.rb:84:in `_wait_for_changes'
/usr/local/share/gems/gems/listen-3.1.5/lib/listen/event/loop.rb:42:in `block in setup'
/usr/local/share/gems/gems/listen-3.1.5/lib/listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color-white\".\A         on line 2 of /home/users/inf/wiaw2/iaw48089741/folder/FinalProject/IWish/src/resources/sass/components/login.scss\A \A 1: body.login-page {\A 2: 	background-color: $color-white;\A 3: 	img {\A 4: 		&#facebook-login {\A 5: 			background: url('../images/logins1.png') no-repeat -56px -55px;\A 6: 			width: 575px;\A 7: 			height: 102px;"; }
