doctype html
html(lang="es")
	include ../commons/head.pug
body.profile.sticky-header
	include ../commons/header.pug
	.container
		h1 404 
		h2 PAGE NOT FOUND
		a.btn(href='/login', title="Go to IWish") Go to I Wish
include ../commons/footer.pug
