doctype html
html
head
	include ../commons/head.pug
	title I Wish
	meta(charset='utf-8')
body.login-page
	include ../commons/header.pug
	.container.error-message
		p Error
		p #{errorMessage}
		a.btn(href='/login', title="Go to IWish") Go to I Wish
	include ../commons/footer.pug
