doctype html
html(lang="es")
	include ../commons/head.pug
body.profile.sticky-header
	include ../commons/header.pug
	.container
		.card-panel.hoverable
			h3 Contact us 
			if message
				p #{message}
			form(action="/contact", method="post")
				.container
					.row
						.input-field.col.s12
							input#name(type='text', name='name', required)
							label(for='name') Your name
						.input-field.col.s12
							input#email.validate(type='text', name='email', required)
							label(for='email') Your email
					.row
						.input-field.col.s12
							input#subject(type='text', name='subject', required)
							label(for='subject') Subject
						.input-field.col.s12
							textarea.materialize-textarea(type='text', name='comment', required)
							label Send us your thoughts
					input.btn(type='submit', name='submit', value='Send')
		a.btn(href='/', title="Go to IWish") Go to I Wish
include ../commons/footer.pug
