footer.page-footer
	.footer-copyright
		div
			| © 2017 Copyright IWish
		div
			a.grey-text.text-lighten-4.right(href='/contact_us') Contact us
			a.grey-text.text-lighten-4.right(href='/privacity') Privacity
			a.grey-text.text-lighten-4.right(href='/legal') Legal