title I WISH
meta(charset="utf-8")
<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicons.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons.ico/favicon-16x16.png">
<link rel="manifest" href="/images/favicons.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/images/facicons.ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link type="text/css" rel="stylesheet" href="/css/materialize.css">
<link type="text/css" rel="stylesheet" href="/css/app.css">

script(type='text/javascript', src='/js/jquery.min.js')
script(src='/js/materialize/bin/materialize.min.js')
script(src='/js/recovery.js')
script(src='/js/api_commons.js')

//- Pasar variables de Pug a Js
script.
	var userSession = '#{JSON.stringify(userSession)}';
	var userProfile = '#{JSON.stringify(user)}';
	var posts = '#{JSON.stringify(posts)}';
