// Centrar

@mixin centerer($horizontal: true, $vertical: true) {
  position: fixed;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin centre($horizontal: true, $vertical: true) {
  @if ($horizontal and $vertical) {
    transform:translate(50%, -100%);
    } @else if ($horizontal) {
      transform:translate(50%, 0);
    }
}
