/** GREENS **/
/** REDS  **/
/** BLUES **/
/*=====================================
=            Custom colors            =
=====================================*/
/*=====================================
=            Custom colors            =
=====================================*/
/**********  HEADER PROFILE **********/
/* line 2, ../sass/components/_header.scss */
body.profile {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  padding-top: 270px;
  -moz-transition: padding-top 0.5s ease;
  -o-transition: padding-top 0.5s ease;
  -webkit-transition: padding-top 0.5s ease;
  transition: padding-top 0.5s ease;
}
/* line 7, ../sass/components/_header.scss */
body.profile header.header {
  width: 100%;
  height: 200px;
  background-color: #28a9ff;
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 18, ../sass/components/_header.scss */
body.profile header.header nav {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
}
/* line 25, ../sass/components/_header.scss */
body.profile header.header nav a {
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 33, ../sass/components/_header.scss */
body.profile header.header .navbar-login {
  background-color: #28a9ff;
  z-index: 20;
}
/* line 36, ../sass/components/_header.scss */
body.profile header.header .navbar-login .logo {
  position: fixed;
  top: 0;
  left: 15%;
}
@media (max-width: 992px) {
  /* line 36, ../sass/components/_header.scss */
  body.profile header.header .navbar-login .logo {
    left: 5%;
  }
}
/* line 46, ../sass/components/_header.scss */
body.profile .field-search {
  position: relative;
  left: 100px;
}
/* line 49, ../sass/components/_header.scss */
body.profile .field-search .input-search {
  position: fixed;
  height: 60px;
}
/* line 52, ../sass/components/_header.scss */
body.profile .field-search .input-search .active {
  color: #000000;
}
/* line 55, ../sass/components/_header.scss */
body.profile .field-search .input-search .btn-search {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  left: 0;
  top: 12px;
  color: #000000;
  background-color: transparent;
  z-index: 30;
}
@media (min-width: 654px) {
  /* line 64, ../sass/components/_header.scss */
  body.profile .field-search .input-search .btn-search.search-friend-btn {
    left: -200px;
  }
}
/* line 71, ../sass/components/_header.scss */
body.profile .field-search .input-search .icon-search {
  position: relative;
  top: -23px;
  left: -17px;
}
/* line 76, ../sass/components/_header.scss */
body.profile .field-search .input-search #CI_usuarios {
  background-color: #FFFFFF;
  color: #000000;
  width: 70%;
  position: relative;
}
@media (min-width: 654px) {
  /* line 83, ../sass/components/_header.scss */
  body.profile .field-search .input-search #CI_usuarios.search-friend-input {
    width: 137%;
    right: 70%;
    font-size: 24px;
  }
}
/* line 93, ../sass/components/_header.scss */
body.profile .field-search .dropdown-link {
  width: 100%;
}

/* line 98, ../sass/components/_header.scss */
body.profile.sticky-header {
  padding-top: 100px;
  padding-bottom: 200px;
}
/* line 100, ../sass/components/_header.scss */
body.profile.sticky-header header.header {
  height: 60px;
  background-color: #28a9ff;
  opacity: 0.9;
  z-index: 20;
}

/* line 1, ../sass/components/_login.scss */
body.login-page {
  background-color: #FFFFFF;
}
/* line 2, ../sass/components/_login.scss */
body.login-page .navbar-login {
  background-color: #28a9ff;
  z-index: 10;
  position: fixed;
}
/* line 8, ../sass/components/_login.scss */
body.login-page .navbar-login .logo {
  position: fixed;
  top: 0;
  left: 300px;
}
/* line 13, ../sass/components/_login.scss */
body.login-page .navbar-login .nav-wrapper {
  height: 0;
}
/* line 16, ../sass/components/_login.scss */
body.login-page .navbar-login .title-page {
  text-align: center;
  position: relative;
  bottom: 15px;
}
/* line 23, ../sass/components/_login.scss */
body.login-page .container {
  top: 10%;
  position: relative;
}
/* line 28, ../sass/components/_login.scss */
body.login-page .container .login-content #login {
  top: 110px;
  position: relative;
  margin-bottom: 60px;
}
/* line 33, ../sass/components/_login.scss */
body.login-page .container .login-content #signup {
  margin-bottom: 60px;
}
/* line 36, ../sass/components/_login.scss */
body.login-page .container .login-content .form-login {
  top: 125px;
  position: relative;
}
/* line 40, ../sass/components/_login.scss */
body.login-page .container .login-content .facebook-login {
  background-color: #3B5998;
}
/* line 43, ../sass/components/_login.scss */
body.login-page .container .login-content .google-login {
  color: #DB4437;
  background-color: #FFFFFF;
}
/* line 47, ../sass/components/_login.scss */
body.login-page .container .login-content .local-login {
  background-color: #B7061A;
}
/* line 50, ../sass/components/_login.scss */
body.login-page .container .login-content .local-signup {
  background-color: #59A967;
}
/* line 53, ../sass/components/_login.scss */
body.login-page .container .login-content .custom-button {
  margin: 15px 0;
}
/* line 56, ../sass/components/_login.scss */
body.login-page .container .login-content .btn-login {
  height: 45px;
  width: 75%;
}
/* line 62, ../sass/components/_login.scss */
body.login-page .container .login-content .login-types {
  position: relative;
  top: 220px;
  margin-bottom: 30px;
}
/* line 70, ../sass/components/_login.scss */
body.login-page .error-message {
  top: 100px;
}

/* line 76, ../sass/components/_login.scss */
body.login-page.sticky-header header.header {
  height: 60px;
  background-color: #28a9ff;
  opacity: 0.9;
  z-index: 10;
}

/* line 1, ../sass/components/_profile.scss */
.profile {
  /* HELP */
}
/* line 3, ../sass/components/_profile.scss */
.profile .post {
  width: 70%;
}
/* line 7, ../sass/components/_profile.scss */
.profile .menu-settings {
  position: fixed;
  top: 0;
  left: 6px;
  z-index: 30;
}
/* line 12, ../sass/components/_profile.scss */
.profile .menu-settings .dropdown-content {
  min-width: 240px;
  margin: 0 35px;
}
/* line 15, ../sass/components/_profile.scss */
.profile .menu-settings .dropdown-content a {
  color: #039be5;
}
/* line 20, ../sass/components/_profile.scss */
.profile .settings {
  top: calc(200px - 45px);
  position: fixed;
  color: #000000;
  left: 75%;
  -webkit-transition: top 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: top 0.5s;
}
/* line 28, ../sass/components/_profile.scss */
.profile .settings.sticky-header-settings {
  top: 10px;
}
/* line 32, ../sass/components/_profile.scss */
.profile .image-profile {
  position: fixed;
  top: calc(200px - 90px);
  padding: 0;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #FFFFFF;
  z-index: 30;
  -webkit-transition: top 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: top 0.5s;
}
/* line 45, ../sass/components/_profile.scss */
.profile .photo-profile .image-profile {
  left: 44%;
  width: 160px;
  height: 160px;
  background-size: 160px;
}
/* line 50, ../sass/components/_profile.scss */
.profile .photo-profile .image-profile.sticky-header-img {
  top: 0px;
  width: 100px;
  height: 100px;
  background-size: 100px;
  left: 45%;
}
/* line 60, ../sass/components/_profile.scss */
.profile .photo-profile-friend .image-profile {
  left: 32%;
  width: 160px;
  height: 160px;
  background-size: 160px;
}
/* line 65, ../sass/components/_profile.scss */
.profile .photo-profile-friend .image-profile.sticky-header-img {
  top: 0px;
  width: 100px;
  height: 100px;
  background-size: 100px;
  left: 35%;
}
/* line 74, ../sass/components/_profile.scss */
.profile .content-profile {
  margin-left: 10%;
}
/* line 77, ../sass/components/_profile.scss */
.profile .photo-edit {
  cursor: pointer;
}
/* line 80, ../sass/components/_profile.scss */
.profile .container-friends {
  background-color: #FFFFFF;
  border: none;
}
/* line 84, ../sass/components/_profile.scss */
.profile .container-friends .collection-item {
  background-color: #FFFFFF;
  border: none;
  padding: 5px 0px;
}
/* line 90, ../sass/components/_profile.scss */
.profile .container-friends .chip {
  display: block;
  background-color: #90ca3d;
}
/* line 93, ../sass/components/_profile.scss */
.profile .container-friends .chip img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
/* line 104, ../sass/components/_profile.scss */
.profile .container-friends-friends .collection-item {
  padding: 5px 0px;
}
/* line 107, ../sass/components/_profile.scss */
.profile .container-friends-friends .chip {
  display: block;
  background-color: #FF872F;
}
/* line 110, ../sass/components/_profile.scss */
.profile .container-friends-friends .chip img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
/* line 120, ../sass/components/_profile.scss */
.profile .container-suggests .collection-item {
  padding: 5px 0px;
}
/* line 123, ../sass/components/_profile.scss */
.profile .container-suggests .chip {
  display: block;
  /*img{
      float: left;
      margin: 0 8px 0 -12px;
      height: 32px;
      width: 32px;
      border-radius: 50%;
  }*/
}
/* line 135, ../sass/components/_profile.scss */
.profile p.username {
  font-style: oblique;
}
/* line 139, ../sass/components/_profile.scss */
.profile .card {
  margin-bottom: 30px;
}
/* line 142, ../sass/components/_profile.scss */
.profile .btn-custom {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0 2px;
}
/* line 148, ../sass/components/_profile.scss */
.profile .btn-custom.settings {
  background-color: transparent;
}
/* line 153, ../sass/components/_profile.scss */
.profile .button-submit {
  padding-bottom: 25px;
  position: relative;
}
/* line 158, ../sass/components/_profile.scss */
.profile .btn {
  background-color: #FF872F;
}
/* line 161, ../sass/components/_profile.scss */
.profile .file-field {
  display: inline-block;
}
/* line 165, ../sass/components/_profile.scss */
.profile input.btn.btn-edit-post {
  position: relative;
  left: 400px;
}
/* line 170, ../sass/components/_profile.scss */
.profile .modal-footer {
  padding: 120px 20px;
}
/* line 173, ../sass/components/_profile.scss */
.profile .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #039be5;
  /* transition: color .3s ease; */
  text-transform: initial;
}
/* line 179, ../sass/components/_profile.scss */
.profile textarea.materialize-textarea {
  border: 1px dotted #FFFFFF;
  margin-top: 10px;
}
/* line 184, ../sass/components/_profile.scss */
.profile textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 0 0 transparent;
}
/* line 188, ../sass/components/_profile.scss */
.profile .reply-content {
  margin-top: 15px;
  padding: 15px;
}
/* line 192, ../sass/components/_profile.scss */
.profile .reply-of-reply-content {
  padding: 15px;
  margin-top: 15px;
}
/* line 197, ../sass/components/_profile.scss */
.profile .bought, .profile .recieved {
  background-image: url("/images/red-.png");
  background-repeat: no-repeat;
  background-position: 70% 2%;
  background-size: 134px;
  /*   background-image: url('/images/gifted2.png');
     background-position: 70% 0%;
     background-size: 730px;*/
}
/* line 205, ../sass/components/_profile.scss */
.profile .bought p.username, .profile .recieved p.username {
  color: grey;
}
/* line 208, ../sass/components/_profile.scss */
.profile .bought img, .profile .recieved img {
  opacity: 0.8;
  filter: alpha(opacity=50);
}
/* line 212, ../sass/components/_profile.scss */
.profile .bought img:hover, .profile .recieved img:hover {
  opacity: 1;
}
/* line 219, ../sass/components/_profile.scss */
.profile .buttons-post {
  margin: 10px 0px;
}
/* line 222, ../sass/components/_profile.scss */
.profile .modal {
  max-height: 100%;
}
/* line 225, ../sass/components/_profile.scss */
.profile .modal-picture {
  width: 20%;
}
/* line 233, ../sass/components/_profile.scss */
.profile .modal-help {
  height: 80%;
  /* Slideshow container */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
  /* On smaller screens, decrease text size */
}
/* line 237, ../sass/components/_profile.scss */
.profile .modal-help .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 90%;
}
/* line 245, ../sass/components/_profile.scss */
.profile .modal-help .prev, .profile .modal-help .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* line 260, ../sass/components/_profile.scss */
.profile .modal-help .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* line 266, ../sass/components/_profile.scss */
.profile .modal-help .prev:hover, .profile .modal-help .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 271, ../sass/components/_profile.scss */
.profile .modal-help .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* line 282, ../sass/components/_profile.scss */
.profile .modal-help .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* line 291, ../sass/components/_profile.scss */
.profile .modal-help .dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* line 302, ../sass/components/_profile.scss */
.profile .modal-help .active, .profile .modal-help .dot:hover {
  background-color: #717171;
}
/* line 307, ../sass/components/_profile.scss */
.profile .modal-help .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  /* line 326, ../sass/components/_profile.scss */
  .profile .modal-help .prev, .profile .modal-help .next, .profile .modal-help .text {
    font-size: 11px;
  }
}
/* line 328, ../sass/components/_profile.scss */
.profile .modal-help .content-help {
  position: relative;
  top: 3%;
  padding: 0 39px;
}
/* line 332, ../sass/components/_profile.scss */
.profile .modal-help .content-help .title {
  text-align: center;
}
/* line 336, ../sass/components/_profile.scss */
.profile .modal-help .content-help-1 {
  text-align: center;
  padding-top: 102px;
}
/* line 341, ../sass/components/_profile.scss */
.profile .modal-help .content-help-2 .step-2 {
  position: relative;
  top: 30px;
}
/* line 348, ../sass/components/_profile.scss */
.profile .modal-help .content-help-4 .step-2 {
  position: relative;
  top: 3%;
}
/* line 354, ../sass/components/_profile.scss */
.profile .modal-help .content-help-5 .step-2 {
  position: relative;
  top: 3%;
}
/* line 359, ../sass/components/_profile.scss */
.profile .modal-help .content-help-7 {
  padding: 115px 0 0 0;
  text-align: center;
}
/* line 363, ../sass/components/_profile.scss */
.profile .modal-help .tutorial-checkbox {
  color: #FFFFFF;
}
/* line 366, ../sass/components/_profile.scss */
.profile .modal-help .tutorial-checkbox:before {
  color: #FFFFFF;
}
/* line 369, ../sass/components/_profile.scss */
.profile .modal-help label {
  color: white;
}
/* line 372, ../sass/components/_profile.scss */
.profile .modal-help .btn {
  background-color: #28a9ff;
}
/* line 375, ../sass/components/_profile.scss */
.profile .modal-help .btn-modal {
  position: fixed;
  left: 45%;
}
/* line 380, ../sass/components/_profile.scss */
.profile form.form-edit input.btn {
  position: relative;
}
/* line 385, ../sass/components/_profile.scss */
.profile strong {
  font-weight: bold;
}

/* line 1, ../sass/components/_footer.scss */
.page-footer {
  background-color: #28a9ff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  z-index: 10;
}
/* line 8, ../sass/components/_footer.scss */
.page-footer .footer-copyright {
  background-color: #28a9ff;
  display: flex;
  justify-content: space-around;
}
/* line 12, ../sass/components/_footer.scss */
.page-footer .footer-copyright a {
  padding: 0 10px;
}
