doctype html
html(lang="es")
	include ../commons/head.pug
body.login-page
	header.header
		nav.navbar-login
			.nav-wrapper.container
				a.left.logo(href='#')
					img(src='/images/logo2.png', width='45', height='auto', alt='logo')
				.title-page
					h3 I Wish
	.container
		.row.login-content
			.col.m12.l5.form-login
				if message
					p #{message}
				#login
					.card-panel.hoverable
						form(action='/login', method='post')
							.input-field.col.s12
								input#email.validate(type='email', name='email')
								label(for='email') Email
							.input-field.col.s12
								input#password(type='password', name='password')
								label(for='password') Password
							div
								input.btn.local-login(type='submit', name='login', value='Log in', title='Log in')
					a(href="#modal-recover-email") Forgot password?
					include ../commons/modals/modal-recover-email.pug
				#signup(hidden=true)
					.card-panel.hoverable
						form(action='/signup', method='post')
							.row
								.input-field.col.s6
									input#name(type='text', name='name', required)
									label(for='name') Name
								.input-field.col.s6
									input#lastname(type='text', name='lastname', required)
									label(for='lastname') Lastname
							.row
								.input-field.col.s12
									input#username.validate(type='text', name='username', required)
									label(for='username') Username
							.row
								.input-field.col.s6
									input#female(name='gender', type='radio', , value='female')
									label(for='female') Female
								.input-field.col.s6
									input#male(name='gender', type='radio', value='male')
									label(for='male') Male
							.row
								.input-field.col.s12
									input#birth.datepicker(placeholder='Birth Date', type='date', name='birth', required)
									label(for='birth') 
							.row
								.input-field.col.s12
									input#email-sign-up.validate(type='email', name='email', required)
									label(for='email') Email
							.row
								.input-field.col.s12
									input#password1.validate(type='password', name='password', required)
									label(for='password1') Password
							.row
								.input-field.col.s12
									input#password2.validate(type='password', name='password2', required)
									label(for='password2') Repeat password
							div
								//a#send_email.btn.local-signup(href="#signup-confirm") Sign up
								//include ../commons/modals/modal-signup.pug
								input#send_email.btn.local-signup(type='submit', name='signup', value='Sign up', title='Sign up')
			.col.m12.l7.center-align.login-types
				.row
					.col.s12.custom-button
						a#local-login.local-login.btn.btn-login.waves-effect.waves-light.login-active.truncate(href='#login', title="login local") Log in
					.col.s12.custom-button
						a#local-signup.local-signup.btn.btn-login.waves-effect.waves-light.truncate(href='#signup', title="sign up") Sign up
					.col.s12.custom-button
						a.facebook-login.btn.btn-login.waves-effect.waves-light.truncate(href='/auth/facebook', title="login facebook")
							img(src="/images/001-facebook-letter-logo.svg", width="25", height="auto" alt="facebook logo")
							| Login with facebook
					.col.s12.custom-button
						a.google-login.btn.btn-login.waves-effect.waves-light.truncate(href='/auth/google', title="login google") 
							img(src="/images/001-social.svg", width="27", height="auto" alt="google logo")
							| Login with google+
	include ../commons/footer.pug
